<!--<section layout="row" flex>-->
    <!--<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">-->
        <!--<md-toolbar class="md-theme-indigo">-->
            <!--<h1 class="md-toolbar-tools">Admin</h1>-->
        <!--</md-toolbar>-->
        <!--<md-content class="" ng-controller="SidenavController as sidenav">-->
            <!--<md-button ng-click="sidenav.close()" class="md-primary" hide-gt-md>-->
                <!--Close Sidenav Left-->
            <!--</md-button>-->
            <!--&lt;!&ndash;<p hide-md show-gt-md>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--<ul class="sidenav-menu">-->
                <!--<li class="" ng-repeat="section in admin.sections">-->
                    <!--<md-button ui-sref="{{section.sref}}">-->
                        <!--<i class="fa fa-fw {{section.icon}}"></i> {{section.title}}-->
                    <!--</md-button>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</md-content>-->
    <!--</md-sidenav>-->
    <!--<md-content flex class="md-padding" style="min-height: 500px;">-->
        <!--<div layout="column" layout-align="center center">-->
            <!--<p>-->
                <!--&lt;!&ndash;The left sidenav will 'lock open' on a medium (>=960px wide) device.&ndash;&gt;-->
            <!--</p>-->
            <!--<div>-->
                <!--<md-button ng-click="admin.toggleLeft()" class="md-primary" hide-gt-md>-->
                    <!--Toggle left-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div ui-view=""></div>-->
    <!--</md-content>-->
<!--</section>-->

<md-sidenav-container>
    <md-sidenav #start (open)="mybutton.focus()" [opened]="false">
        <button md-button #mybutton (click)="start.close()"><i class="fa fa-bars fa-2x"></i></button> Admin

        <ul class="sidenav-menu">
            <li class="" *ngFor="let section of sections">
                <button md-button uiSref="{{section.sref}}">
                    <i class="fa fa-fw {{section.icon}}"></i>
                    {{section.title}}
                </button>
            </li>
        </ul>
    </md-sidenav>

    <button md-button (click)="start.open()"><i class="fa fa-bars fa-2x"></i></button>

    <div ui-view="body"></div>
</md-sidenav-container>
