{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "angular2-annotations",
        "transform-runtime",
        "transform-decorators-legacy"
    ]
}
