<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Login</h1>

            <content class="md-padding">
                <form name="loginForm" (ngSubmit)="login()">
                    <div class="md-block">
                        <label>Email</label>
                        <md-input maxlength="60" required name="email" type="email" [(ngModel)]="user.email"></md-input>
                        <!--<div ng-messages="loginForm.email.$error">-->
                            <!--<div ng-message="required">This is required.</div>-->
                            <!--<div ng-message="md-maxlength">The email can be at most 60 characters long.</div>-->
                        <!--</div>-->
                    </div>
                    <div class="md-block">
                        <label>Password</label>
                        <md-input type="password" required name="password" [(ngModel)]="user.password"></md-input>
                        <!--<div ng-messages="loginForm.password.$error">-->
                            <!--<div ng-message="required">This is required.</div>-->
                        <!--</div>-->
                    </div>

                    <section layout="row" layout-sm="column" layout-align="center center">
                        <button md-button class="md-primary md-button-lg" type="submit" aria-label="Login">
                            Login
                        </button>
                        <button md-button class="md-button-lg" ui-sref="signup" aria-label="Register">
                            Register
                        </button>
                    </section>
                </form>

                <br/>

                <!--<section layout="row" layout-sm="column" layout-align="center center">-->
                    <!--<button md-button class="md-button-lg google-plus-color" aria-label="Login with Google" ng-click="loginOauth('google')">-->
                        <!--<i class="fa fa-google-plus"></i>-->
                        <!--Log in with Google-->
                    <!--</button>-->
                    <!--<md-button class="md-button-lg github-color" aria-label="Login with Github" ng-click="loginOauth('github')">-->
                        <!--<i class="fa fa-github"></i>-->
                        <!--Log in with Github-->
                    <!--</md-button>-->
                    <!--<md-button class="md-button-lg linkedin-color" aria-label="Login with Linkedin" ng-click="loginOauth('linkedin')">-->
                        <!--<i class="fa fa-linkedin-square"></i>-->
                        <!--Log in with Linkedin-->
                    <!--</md-button>-->
                <!--</section>-->
            </content>
        </div>
    </div>
</div>
